@model Leave_System.Models.VacationRequestVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacation Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Employee Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class="col-sm-2">
            Vacation Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VacationTypeName)
        </dd>
        <dt class="col-sm-2">
            Start Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            End Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            Date Requested
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateRequested)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Cancelled
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cancelled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>